* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gabarito', sans-serif;
    font-size: 20px;
}

.navbar {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.navbar_s1 {
    color: navy;
    font-weight: bold;
    font-size: 36px;

}

.navbar_s2 {
    padding: 10px;
    border: solid black 2px;
    border-radius: 30px;
    width: 65%;
    display: flex;
    gap: 10px;
    align-items: center;

}

.navbar_s2 input {
    border: none;
    width: 100%;
    font-size: 15px;
}

.navbar_s2 input:focus {
    outline: none;
}

.navbar_s3 {
    display: flex;
    gap: 20px;
    align-items: center;

}

.categories {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.categories p {
    color: aliceblue;
    background-color: navy;
    padding: 15px;
    border-radius: 30px;
}

.sales-image img {
    width: 100%;
    height: 500px;
}

.recommended {
    padding: 10px;
}

.recommended_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}

.course-card {
    width: 350px;
}

.course-card p {
    font-weight: lighter;
    font-size: 20px;
    color: #000;
}

.course-card img {
    width: 100%;
    height: 200px;
}

.topics {
    padding: 15px;
}

.topics_container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;

}

.topics_container p {
    border: #000 solid 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}

.popular {
    padding: 10px;
}

.popular_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;

}
.footer{
    padding: 10px;
    background-color: #000;
    color: white;
}
.footer_one{
    display: flex;
    gap: 20px;
    
}
.footer_one p{
    margin: 20px;
}
.footer_two{
    margin-top: 20px;
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}